doctype html
html
  body
    h1 Twitch Info
    #container.col
      p
        strong id
        | : #{user.twitch.id}
        br
        strong token
        | : #{user.twitch.token}
        br
        strong email
        | : #{user.twitch.email}
        br
        strong username
        | : #{user.twitch.username}